.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  pointer-events: none;
  background-color: darkgrey;
}

.board {
  display: grid;
  grid-template-columns: repeat(127, 5px);
  grid-template-rows: repeat(127, 5px);
  width: (127 * 5) px;
  height: (127 * 5) px;
  border: 2px solid black;
}

.square {
  width: 5px;
  height: 5px;
}

.B {
  background-color: black;
  transition: background-color 200ms ease-out;
}

.W {
  background-color: white;
  transition: background-color 200ms ease-out;
}
